<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Superheroes Dashboard</title>
</head>
<body>
  <header>
    <div>
      <h1>Superheroes Dashboard</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Inicio</a>
          </li>
          <li>
            <a href="/superheroes">Lista de Héroes</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <main>