<nav>
  <ul>
    <li><a href="/">
      <img src="/icons/home.svg" alt="Inicio">
      Inicio
    </a></li>
    <li><a href="/paises">
      <img src="/icons/info.svg" alt="Lista de Superhéroes">
      Lista de paises
    </a></li>
    <li><a href="/paises/agregar">
      <img src="/icons/contact.svg" alt="Agregar paises">
      Agregar Pais
    </a></li>
  </ul>
</nav>
  
  
  