<nav>
  <ul>
    <li><a href="/">
      <img src="/icons/home.svg" alt="Inicio">
      Inicio
    </a></li>
    <li><a href="/superheroes">
      <img src="/icons/info.svg" alt="Lista de Superhéroes">
      Lista de Superhéroes
    </a></li>
    <li><a href="/superheroes/agregar">
      <img src="/icons/contact.svg" alt="Agregar Superhéroe">
      Agregar Superhéroe
    </a></li>
  </ul>
</nav>
  
  
  