<%- include('partials/header') %>

<div>
  <h2>Bienvenido al Superheroes Dashboard</h2>
  <p>Explora la lista de héroes o agrega nuevos superhéroes a tu base de datos.</p>
  <a href="/superheroes">Ir al Dashboard</a>
</div>

<%- include('partials/footer') %>
